<!doctype html>
<html lang="en-US">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Highcharts Export</title>
    <style>
      html,
      body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      #table-div,
      #sliders,
      #datatable,
      #controls,
      .ld-row {
        display: none;
        height: 0;
      }

      #chart-container {
        box-sizing: border-box;
        margin: 0;
        overflow: auto;
      }

      #chart-container > figure,
      div {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }
    </style>
  </head>

  <body>
    <div id="chart-container">
      <div id="container"></div>
    </div>
  </body>

  <script>
    /** Called when initing the page */
    function setupHighcharts() {
      Highcharts.animObject = function () {
        return { duration: 0 };
      };
    }

    /** Create the actual chart */
    function createChart(chartOptions, options) {
      const merge = Highcharts.merge;

      // By default animation is disabled
      const chart = {
        animation: false
      };

      // When straight inject, the size is set through CSS only
      if (options.export.strInj) {
        chart.height = chartOptions.chart.height;
        chart.width = chartOptions.chart.width;
      }

      // NOTE: Is this used for anything useful??
      window.isRenderComplete = false;

      Highcharts.wrap(
        Highcharts.Chart.prototype,
        'init',
        function (proceed, userOptions, cb) {
          // Override userOptions with image friendly options
          userOptions = merge(userOptions, {
            exporting: {
              enabled: false
            },
            plotOptions: {
              series: {
                label: {
                  enabled: false
                }
              }
            },
            /*
            Expects tooltip in userOptions when forExport is true.
            https://github.com/highcharts/highcharts/blob/3ad430a353b8056b9e764aa4e5cd6828aa479db2/js/parts/Chart.js#L241
            */
            tooltip: {}
          });

          (userOptions.series || []).forEach(function (series) {
            series.animation = false;
          });

          // Add flag to know if chart render has been called.
          if (!window.onHighchartsRender) {
            window.onHighchartsRender = Highcharts.addEvent(
              this,
              'render',
              () => {
                window.isRenderComplete = true;
              }
            );
          }

          proceed.apply(this, [userOptions, cb]);
        }
      );

      Highcharts.wrap(
        Highcharts.Series.prototype,
        'init',
        function (proceed, chart, options) {
          proceed.apply(this, [chart, options]);
        }
      );

      // Get the user options
      const userOptions = options.export.strInj
        ? new Function(`return ${options.export.strInj}`)()
        : chartOptions;

      // Merge the globalOptions, themeOptions, options from the wrapped
      // setOptions function and user options to create the final options object
      const finalOptions = merge(
        false,
        JSON.parse(options.export.themeOptions),
        userOptions,
        // Placed it here instead in the init because of the size issues
        { chart }
      );

      const finalCallback = options.customCode.callback
        ? new Function(`return ${options.customCode.callback}`)()
        : undefined;

      // Set the global options if exist
      Highcharts.setOptions(JSON.parse(options.export.globalOptions));

      Highcharts[options.export.constr || 'chart'](
        'container',
        finalOptions,
        finalCallback
      );

      // Get the current global options
      const defaultOptions = Highcharts.getOptions();

      // Clear it just in case (e.g. the setOptions was used in the customCode)
      for (const prop in defaultOptions) {
        if (typeof defaultOptions[prop] !== 'function') {
          delete defaultOptions[prop];
        }
      }

      // Set the default options back
      Highcharts.setOptions(Highcharts.setOptionsObj);

      // Empty the custom global options object
      Highcharts.setOptionsObj = {};
    }

    function triggerExport(chartOptions, exportOptions) {
      // Get the chart section of options
      const { chart } = chartOptions;

      // Create a separate object for a potential setOptions usages in order to
      // prevent from polluting other exports that can happen on the same page
      Highcharts.setOptionsObj = Highcharts.merge(
        false,
        {},
        Highcharts.getOptions()
      );

      // Trigger custom code
      if (exportOptions.customCode.customCode) {
        new Function(exportOptions.customCode.customCode)();
      }

      // Create a chart
      createChart(chartOptions, exportOptions);
    }
  </script>
</html>
